#body{
    background-color: rgba(255, 255, 255, 0.74);
}
.relative {
    position: relative;
    top: 10px;
    left: 30px;
    border: 3px solid #73AD21;
    width: 300px;
}
.relative p{
    margin: 0px;
    padding: 0 5px 0 5px;
    text-align: justify;
}
.relative h2{
  margin: 0px;
  padding: 5px 0 5px 0;
}
.relative img{
    width: 300px;
}  
.fixed {
    position: fixed;
    top: 18px;
    left: 400px;
    width: 300px;
    border: 3px solid #73AD21;
}
.fixed img{
    width: 300px;
}
.fixed p{
    margin: 0px;
    padding: 0 5px 0 5px;
    text-align: justify;
}
.fixed h2{
    margin: 0px;
    padding: 5px 0 5px 0;
}
.absolute {
    position: absolute;
    left: 38px;
    width: 300px;
    margin-top: 50px;
    border: 3px solid #73AD21;
  }
.absolute img{
    width: 300px;
}
.absolute p{
    margin: 0px;
    padding: 0 5px 0 5px;
    text-align: justify;
}
.absolute h2{
    margin: 0px;
    padding: 5px 0 5px 0;
}